$bg-bottom-nav: #6EB744;
$bg-light-grey: #F4F4F4;
$bg-light-grey-shadow: #fafafa;
$border-light-grey: #DFDFDF;
$text-color: #37454A; 
$text-green: #76B926;
$text-green-hover: #82d819;
$header-green: #76B72A;
$white: #ffffff;
$black: #000000;
$text-footer: rgba(55, 69, 74, 0.6);