@import "colors";

body {
  color: black;
  font-family: 'proximanova_regular', sans-serif;
  margin: auto;
}

button {
  background-color: #ffffff;
  border-radius: 26px;
  padding: 10px 41px 10px 30px;
  border: 1px solid $text-green;
  display: flex;
  .letter {
    color: $text-green;
    font-family: 'proximanova_bold', sans-serif;
    line-height: 19.49px;
  }
  .small-letter {
    font-family: 'proximanova_light', sans-serif;
    color: $text-green;
    font-size: 14px;
    line-height: 17.05px;
  }
  .sign-up {
    font-size: 14px;
    line-height: 14px;
    width: 102px;
    color: $text-color;
    padding-left: 10px;
  }
  p {
    margin: auto;
  }
}

.upper-nav {
  font-size: 16px;
  line-height: 22px;
  &_logo {
    border-right: 1px solid $bg-light-grey;
    padding-right: 10px;
  }
  .salons {
    font-family: 'proximanova_bold', sans-serif;
    color: $text-color;
  }
  .icon-location-outline {
    color: $text-green;
  }
  .location {
    font-family: 'proximanova_bold', sans-serif;
    color: $text-green;
    border-right: 1px solid #DFDFDF;
    padding-right: 10px;
  }
  .city {
    font-family: 'proximanova_light', sans-serif;
    color: #37454A99;
  }
  .phone {
    font-family: 'proximanova_bold', sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: $text-color;
  }
  .call-back {
    color: $text-green;
    font-size: 14px;
    line-height: 14px;
    display: inline;
    border-bottom: 1px dashed $text-green;
  }
  .icon-heart {
    color: #E34C4C;
    font-size: 24px;
    padding-right: 20px;
  }
  .icon-basket {
    color: $text-color;
    font-size: 28px;
  }
  .amount {
    background-color: $text-green;
    font-size: 12px;
    line-height: 14.62px;
    color: $white;
    padding: 6px 10px;
    border-radius: 25px;
    margin-left: -10px;
    top: -20px;
  }
  .amount_heart {
    background-color: $text-green;
    font-size: 12px;
    line-height: 14.62px;
    color: $white;
    padding: 6px 10px;
    border-radius: 25px;
    margin-left: -30px;
    top: -20px;
  }
  .border-right {
    border-right: 1px solid $bg-light-grey;
    height: 100px;
  }
}

.main-nav {
  background-color: $bg-bottom-nav;
  a {
    text-decoration: none;
  }
  &_menu {
    list-style: none;
    padding: 0;
    display: flex;
    li {
      margin-right: 30px;
    }
  }
}


